[Unit]
Description=Digital Signage Backend (API & UI)
After=network.target

[Service]
User=signage
Group=signage
WorkingDirectory=/home/signage/digital-signage/signage/backend
Environment="PATH=/home/signage/signage-venv/bin"
ExecStart=/home/signage/signage-venv/bin/gunicorn -b 0.0.0.0:8080 app:app
Restart=always

[Install]
WantedBy=multi-user.target